---
import Layout from '../layouts/Layout.astro'

const response = await fetch('https://kings-league-api.aw3same.workers.dev/teams')
const teams = await response.json()
---

<Layout title='Welcome to Astro.'>
	<div class='container m-auto'>
		<header class='flex'>
			{
				teams.map(({ id, image, name }) => (
					<a href={`/team/${id}`}>
						<img src={image} alt={`Escudo del equipo ${name}`} />
					</a>
				))
			}
		</header>
		<main>
			<h1>Welcome</h1>
			<p>
				To get started, open the directory <code>src/pages</code> in your project.<br />
				<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
			</p>
		</main>
	</div>
</Layout>
